<div class="card">
    <div class="card-header">
        <h4>Événements sportifs</h4>
    </div>
    <div class="card-body">
        <p>Liste des événements sportifs...</p>
        {# Ici, ont peut ajouter une boucle pour parcourir et afficher des événements. #}
        {# Par exemple:
        {% for event in events %}
            <div>{{ event.name }} à {{ event.date }}</div>
        {% endfor %}
        #}
    </div>
</div>
