<div class="card">
    <div class="card-header">
        <h4>Sondages</h4>
    </div>
    <div class="card-body">
        <p>Liste des sondages...</p>
        {# Comme pour les événements, utiliser une boucle pour afficher les sondages. #}
    </div>
</div>
