<div class="card">
    <div class="card-header">
        <h4>Utilisateurs</h4>
    </div>
    <div class="card-body">
        <p>Liste des utilisateurs...</p>
        {# une boucle pour lister les utilisateurs. #}
    </div>
</div>
